*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: roboto !important;
}

header {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f59643;
}

header .logoHead img {
  width: 70px;
}

header .head {
  border-left: 8px solid #373a3c;
  margin-left: 1.2rem;
  padding: 0.6rem;
}

nav {
  position: -webkit-sticky !important;
  position: sticky !important;
  background-color: #012501 !important;
  top: 0;
  z-index: 9999;
  -webkit-filter: drop-shadow(0px 2.5px 2.5px black);
          filter: drop-shadow(0px 2.5px 2.5px black);
}

.nav-link,
.fa-search {
  color: white !important;
}

.login-button {
  background-color: #f59643;
}

.login-button:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.hover {
  position: relative;
}

.hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-bottom: 1px solid #f59643;
}

.hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-bottom: 1px solid #f59643;
}

.hover:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 100%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-bottom: 1.7px solid #f59643;
}

.hover:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 100%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-bottom: 1.7px solid #f59643;
}

.nav-last {
  margin-right: 20rem;
}

#login {
  background-color: #55e659;
  /*---------------------------------------------*/
  /*---------------------------------------------*/
  /*---------------------------------------------*/
  /*---------------------------------------------*/
  /*==================================================================
	[ login more ]*/
  /*==================================================================
	[ Form ]*/
  /*------------------------------------------------------------------
	[ Input ]*/
  /*---------------------------------------------*/
  /*==================================================================
	[ Restyle Checkbox ]*/
  /*------------------------------------------------------------------
	[ Button ]*/
}

#login a {
  font-size: 14px;
  line-height: 1.7;
  color: #000000;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

#login a:focus {
  outline: none !important;
}

#login a:hover {
  text-decoration: none;
}

#login h1,
#login h2,
#login h3,
#login h4,
#login h5,
#login h6 {
  margin: 0px;
}

#login p {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

#login ul,
#login li {
  margin: 0px;
  list-style-type: none;
}

#login input {
  outline: none;
  border: none;
}

#login textarea {
  outline: none;
  border: none;
}

#login textarea:focus,
#login input:focus {
  border-color: transparent !important;
}

#login input:focus::-webkit-input-placeholder {
  color: transparent;
}

#login input:focus:-moz-placeholder {
  color: transparent;
}

#login input:focus::-moz-placeholder {
  color: transparent;
}

#login input:focus:-ms-input-placeholder {
  color: transparent;
}

#login textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

#login textarea:focus:-moz-placeholder {
  color: transparent;
}

#login textarea:focus::-moz-placeholder {
  color: transparent;
}

#login textarea:focus:-ms-input-placeholder {
  color: transparent;
}

#login input::-webkit-input-placeholder {
  color: #999999;
}

#login input:-moz-placeholder {
  color: #999999;
}

#login input::-moz-placeholder {
  color: #999999;
}

#login input:-ms-input-placeholder {
  color: #999999;
}

#login textarea::-webkit-input-placeholder {
  color: #999999;
}

#login textarea:-moz-placeholder {
  color: #999999;
}

#login textarea::-moz-placeholder {
  color: #999999;
}

#login textarea:-ms-input-placeholder {
  color: #999999;
}

#login label {
  display: block;
  margin: 0;
}

#login button {
  outline: none !important;
  border: none;
  background: transparent;
}

#login button:hover {
  cursor: pointer;
}

#login iframe {
  border: none !important;
}

#login .size1 {
  width: 355px;
  max-width: 100%;
}

#login .size2 {
  width: calc(100% - 43px);
}

#login .limiter {
  width: 100%;
  margin: 0 auto;
}

#login .container-login100 {
  width: 100%;
  padding: 1.1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

#login .wrap-login100 {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#login .login100-more {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

#login .login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

#login .login100-form {
  width: 560px;
  min-height: 60vh;
  display: block;
  border: 1px solid #f59643;
  border-radius: 10px;
  padding: 70px 25px;
}

#login .login100-form-title {
  width: 100%;
  display: block;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

#login .wrap-input100 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
  border: 1px solid #f59643;
  border-radius: 10px;
  margin-bottom: 10px;
}

#login .label-input100 {
  font-size: 18px;
  color: #000000;
  line-height: 1.2;
  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 24px;
  left: 0;
  top: 30px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#login .input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #000000;
  line-height: 1.2;
  padding: 0 26px;
}

#login input.input100 {
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#login .focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #ffffff;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

#login .input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#login .eff-focus-selection {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#login .input100:focus {
  height: 48px;
}

#login .input100:focus + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
}

#login .has-val {
  height: 48px !important;
}

#login .has-val + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
}

#login .input-checkbox100 {
  display: none;
}

#login .label-checkbox100 {
  font-size: 13px;
  color: #000000;
  line-height: 1.4;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

#login .label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #f59643;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#login .input-checkbox100:checked + .label-checkbox100::before {
  color: #f59643;
}

#login .container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login .login100-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #f59643;
  font-size: 12px;
  color: #000000;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#login .login100-form-btn:hover {
  background: #333333;
  color: #fff;
}

/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 1050px) {
  #login .login100-form {
    width: 50%;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
  }
  #login .logo img {
    margin-top: 30px;
    width: 50%;
  }
  #login .wrap-login100 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #login .container-login100 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #login .login100-more {
    width: 50%;
  }
  html body #registration .intl-tel-input {
    display: table-cell;
    width: 87%;
  }
}

@media (max-width: 992px) {
  #login .login100-form {
    width: 50%;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
  }
  #login .logo img {
    margin-top: 30px;
    width: 50%;
  }
  #login .wrap-login100 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #login .container-login100 {
    background-image: url(../img/bg-small.png);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #login .login100-more {
    width: 50%;
  }
  #project .top,
  #project .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body #registration .intl-tel-input {
    display: table-cell;
    width: 80%;
  }
}

@media (max-width: 768px) {
  header {
    margin-left: 0 !important;
    padding: .3srem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f59643;
  }
  header .logoHead img {
    width: 70px;
  }
  header .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    text-align: center;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0.2rem;
  }
  header .head h6 {
    font-size: .8rem;
  }
  #login .login100-form {
    width: 100%;
    border: none;
    padding: 0px 20px 30px 20px;
  }
  #login .wrap-login100 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #login .logo img {
    margin-top: 30px;
    width: 50%;
  }
  #login .login100-more {
    display: none;
  }
  #project .container {
    background-image: none;
  }
  #project .head {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  #project .table-main {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .quick {
    margin: .5rem 0;
  }
  #project .top,
  #project .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body #projectDetails .label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 15px 0;
  }
  body #projectDetails .label .label-details {
    margin-top: 0px;
    margin-left: 0px;
    color: white;
  }
  body #projectDetails .label .label-title {
    margin-bottom: 0px;
  }
  body #projectDetails .label .label-title::after {
    content: "";
    position: static;
  }
  body #projectDetails .container {
    background-image: none;
    text-align: center;
  }
  body #projectDetails .general {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #projectDetails .tender {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #projectDetails .award {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #projectDetails .contract {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  html body #registration .inputs {
    width: 100%;
  }
  html body #registration .intl-tel-input {
    display: table-cell;
    width: 86%;
  }
  html body #registration .container {
    background-image: none;
  }
  html body #registration .companyData {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  html body #registration .companyAddress {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  html body #registration .companyContact {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #system-planning {
    background-color: #ccffcc;
  }
  body #system-planning .container {
    background-image: none !important;
  }
  body #system-planning .container h3 {
    text-align: center;
  }
  body #system-planning .container .generalInfo {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #system-planning .container .procurementPlanninginfo {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #system-planning .container .budgetReserved {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #systemTender .container {
    background-image: none !important;
  }
  body #systemTender .container h3 {
    text-align: center;
  }
  body #systemTender .container .generalInfo {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #systemTender .container .tenderReleaseInfo {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #systemTender .container .ListOfItems {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #systemTender .container .bidSubmission {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #systemTender .container .row .inputs {
    width: 100%;
  }
  body #systemTender .container .rightItem {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  body #systemAward .container {
    background-image: none !important;
  }
  body #systemAward .container h3 {
    text-align: center;
  }
  body #systemAward .container .generalInfo {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #systemAward .container .awardReleaseInfo {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #systemAward .container .ListOfItems {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #systemAward .container .row .inputs {
    width: 100%;
  }
  body #systemAward .container .rightItem {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  body #systemContract .container {
    background-image: none !important;
  }
  body #systemContract .container h3 {
    text-align: center;
  }
  body #systemContract .container .generalInfo {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #systemContract .container .contractReleaseInfo {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #systemContract .container .ListOfItems {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #systemContract .container .listOfKeycontract {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #systemContract .container .toBeCompleted {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  body #systemContract .container .row .inputs {
    width: 100%;
  }
  body #systemContract .container .rightItem {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 576px) {
  login .login100-form {
    padding-left: 15px;
    border: none;
    padding-right: 15px;
    padding-top: 70px;
  }
  login .container-login100 {
    background-image: url(../img/bg-small.png);
  }
  login .logo img {
    margin-top: 30px;
    width: 50%;
  }
  login .login100-more {
    display: none;
  }
  html body #registration .inputs {
    width: 100%;
  }
  html body #registration .intl-tel-input {
    display: table-cell;
    width: 86.5%;
  }
}

@media (max-width: 400px) {
  header {
    padding: .2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #f59643;
  }
  header .logoHead img {
    width: 50px;
  }
  header .head {
    border: none;
    text-align: center;
    margin: none !important;
    padding: none !important;
  }
  header .head h6 {
    display: none;
  }
  html body #registration .inputs {
    width: 100%;
  }
  html body #registration .intl-tel-input {
    display: table-cell;
    width: 80%;
  }
}

#project {
  background-color: #f59643 !important;
}

#project .projectContainer {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: center;
}

#project .projectContainer h1 {
  color: #373a3c;
  font-size: 48px;
}

#project .projectContainer h4,
#project .projectContainer label {
  margin: 0 !important;
}

#project .projectContainer h6 {
  font-size: 12px;
}

#project .projectContainer select {
  width: 225px;
  height: 2.1rem;
  -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.322));
          filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.322));
}

#project .projectContainer .bar {
  background-color: #373a3c;
  color: white;
  -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.322));
          filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.322));
}

#project .projectContainer .bar .count {
  background-color: white;
  padding: 1px 5px;
  margin-left: 3px;
  color: #373a3c;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

#project .projectContainer .top,
#project .projectContainer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: .4rem;
}

#project .projectContainer .table-main {
  overflow-x: auto !important;
}

#project .projectContainer .table-head {
  background-color: #0cb911;
  border: none !important;
  -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.322));
          filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.322));
}

#project .projectContainer th {
  border: none;
}

#project .projectContainer .table-body tr:first-child {
  border: none !important;
}

#project .projectContainer .table-footer {
  background-color: #0cb911;
  -webkit-filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.322));
          filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.322));
}

#project .projectContainer .pag {
  background-color: #373a3c;
  color: white;
}

#project .projectContainer .active-class {
  color: #373a3c;
  background-color: white;
}

#projectDetails {
  background-color: #ffd7b6;
}

#projectDetails .container {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: center;
}

#projectDetails .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0cb911;
  margin-bottom: 20px;
  padding-left: 10px;
  border-radius: 0.2rem;
  -webkit-filter: drop-shadow(0px 0px 1px black);
          filter: drop-shadow(0px 0px 1px black);
  border: none;
}

#projectDetails .label .label-title {
  margin-top: 5px;
  font-weight: bolder;
  position: relative;
  color: black;
}

#projectDetails .label .label-title::after {
  content: ":";
  position: absolute;
}

#projectDetails .label .label-details {
  margin-top: 7px;
  margin-left: 30px;
  font-size: 1rem;
  color: white;
}

#projectDetails .label:nth-child(odd) {
  background-color: #f59643;
}

body #registration {
  background-color: #55e659;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f59643), to(#55e659));
  background-image: linear-gradient(#f59643, #55e659);
}

body #registration .container {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: center;
}

body #registration .inputs {
  width: 85%;
}

body #registration .light-blue-button {
  background-color: #85b6e3;
  color: whitesmoke;
}

body #registration .light-blue-button:hover {
  background-color: #61a6e7;
  color: whitesmoke;
}

body #registration .intl-tel-input {
  display: table-cell;
  width: 89%;
}

body #registration .intl-tel-input .selected-flag {
  z-index: 4;
}

body #registration .intl-tel-input .country-list {
  z-index: 5;
}

body #registration .input-group .intl-tel-input .form-control {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}

body #system-planning {
  background-color: #ccffcc;
}

body #system-planning .container {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: center;
}

body #systemTender {
  background-color: #ccffcc;
}

body #systemTender .container {
  background-image: url(../img/bg.png);
  background-repeat: space;
  background-size: 800px;
  background-position: center;
}

body #systemTender .row .inputs {
  width: 80%;
}

body #systemTender .rightItem {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

body #systemTender .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #systemTender .plusContainer,
body #systemTender .minusContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgrey;
  outline: none;
  margin-bottom: .7rem;
  cursor: pointer;
  border-radius: 3px;
  width: 2.3rem;
  height: 2.3rem;
  font-size: 2rem;
  font-weight: 700;
  padding: .5rem;
  background-color: white;
}

body #systemAward {
  background-color: #ccffcc;
}

body #systemAward .container {
  background-image: url(../img/bg.png);
  background-repeat: space;
  background-size: 800px;
  background-position: center;
}

body #systemAward .row .inputs {
  width: 80%;
}

body #systemAward .rightItem {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

body #systemAward .plusContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgrey;
  margin-bottom: .7rem;
  cursor: pointer;
  border-radius: 3px;
  width: 2.3rem;
  height: 2.3rem;
  font-size: 2rem;
  font-weight: 700;
  padding: .5rem;
  background-color: white;
}

body #systemContract {
  background-color: #ccffcc;
}

body #systemContract .container {
  background-image: url(../img/bg.png);
  background-repeat: space;
  background-size: 800px;
  background-position: center;
}

body #systemContract .row .inputs {
  width: 80%;
}

body #systemContract .rightItem {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

body #systemContract .plusContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgrey;
  margin-bottom: .7rem;
  cursor: pointer;
  border-radius: 3px;
  width: 2.3rem;
  height: 2.3rem;
  font-size: 2rem;
  font-weight: 700;
  padding: .5rem;
  background-color: white;
}

section {
  padding: 40px 0 10px 0;
}

section .section-title {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background: #f59643 !important;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #000000;
}

#footer a {
  color: #000000;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.social li:hover a i {
  -webkit-filter: drop-shadow(0px 0px 5px black);
          filter: drop-shadow(0px 0px 5px black);
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #000000;
}

#footer ul.social li a:hover {
  color: #000000;
}

#footer .h6 {
  color: #000;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  #footer ul.quick-links li {
    text-align: center;
  }
}
